

*, ::after, ::before{  
  padding: 0;
  margin: 0;
  box-sizing: border-box;      
}  


body {
  background-color: #fafafa;
  margin: 0;
}

.clear-button {
  margin-top: 1em;
  margin-left: 50%;
  background-color: #1e0089;
  color: #fff;
  padding: 1em;
  border-radius: 5px;

}

/* .clear-button:hover {
  background-color: #190368;
  color: #fff;
} */




@media only screen and (min-width: 1024px) {

  .App{
    max-width: 100vw;
 }

  button {
    cursor: pointer;
    padding: unset;
    border: unset;
    background: unset;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
  }
  
  nav {
    position: fixed;
    display: grid;
    top: 0;
    background-color: #fff;
    height: 3.3em;
    line-height: 3.3em;
    width: 100%;
    border-bottom: 0.1em solid #dbdbdb;
    grid-template-columns: 2fr 1fr 1fr 0.5fr;
  }
  
  
  .logo {
    text-decoration: none;
  }
  
  .logo > img {
    vertical-align: middle;
  }
  
  .search {
    background: #fafafa;
    height: 2em;
    margin: 0.8em;
    width: 15.5em;
    border: 0.07em solid #dbdbdb;
    border-radius: 0.2em;
  }
  
  .search::placeholder {
    text-align: center;
    color: #808080;
  }
  
  .nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .nav-links i {
    transform: scale(1.6);
    color: #252525;
  }
  
  .container {
    padding: 0 15%;
    justify-content: center;
  }
  
  /*---------BIO-------------------------*/
  .bio {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(17em, 4fr));; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 3em 0 2em 5em;
    grid-gap: 3em;
    border-bottom: 0.2px solid #dbdbdb;
    margin-top: 5em;
    margin-bottom: 2em;
  }
  
  #profilePhotoInput {
    display: none;
  }
  
  .profile-photo {
    background: #000;
    width: 15em;
    height: 15em;
    border-radius: 50%;
    margin-top: 0.5em;
  }
  

  .profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .profile-photo img:hover {
    opacity: 0.7;
  }
  
  .profile-info .name {
    font-size: 1em;
    color: #545454;
    margin-bottom: 0;
  }
  
  .profile-info .about {
    font-size: 1em;
    color: #545454;
  }
  
  .profile-info button {
    background-color: #0095f6;
    color: #fff;
    font-size: 1.1em;
    width: 6em;
    height: 2em;
  }
  
  .profile-info button:hover {
    background-color: #0081d6;
  }
  
  .edit-bio-form input {
    width: 50%;
    height: 2em;
    border: 0.1em solid #dbdbdb;
    border-radius: 0.2em;
    padding: 0.5em;
    margin-top: 0.5em;
  }
  
  .edit-bio-form button {
    margin: 1em 1em 0 0;
  }
  
  .edit-bio-form .cancel-button {
    background-color: #890000;
  }
  

  /*----------------------GALLERY-----------------*/
  #addPhotoInput {
    display: none;
  }
  
  .add-photo-button {
    transform: scale(3);
    position: fixed;
    bottom: 5em;
    right: 7em;
    cursor: pointer;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.7em;
    column-gap: 1em;
    margin-right: auto;
    margin-left:auto;
  }
  
  .item {
    height: 17.5em;
    width: 17.5em;
    background: #000;
    cursor: pointer;
  }
  
  .item-image {

    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .item:hover .item-image {
    opacity: 0.7;
  }
  
  .delete-button {
    opacity: 0;
    position: absolute;
    margin-left: -12em;
    margin-top: 11em;
    padding: 0.1em 0.3em;
    background-color: #890000;
    color: #fff;
    border: 1px solid #c8c8c8;
    transform: scale(1.5);
  }
  
  .delete-button:hover {
    background-color: #670000;
    color: #fff;
  }
  
  .item:hover .delete-button {
    opacity: 1;
  }

.footer{
   display: none;
}

.loader {
  margin-left: auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #055302;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }

  }

}

@media only screen, (min-width: 768px)
and (max-width: 1023px) {

  

  /*--------Nav---------*/

  button {
    cursor: pointer;
    padding: unset;
    border: unset;
    background: unset;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
  }
  
  nav {
    position: fixed;
    display: grid;
    top: 0;
    background-color: #fff;
    height: 3.3em;
    line-height: 3.3em;
    width: 100%;
    border-bottom: 0.1em solid #dbdbdb;
    grid-template-columns: 2fr 1fr 1fr 0.5fr;
  }
 
  
  .logo {
    text-decoration: none;
  }
  
  .logo > img {
    vertical-align: middle;
  }
  
  .search {
    background: #fafafa;
    height: 2em;
    margin: 0.5em;
    width: 10.5em;
    border: 0.07em solid #dbdbdb;
    border-radius: 0.2em;
  }
  
  .search::placeholder {
    text-align: center;
    color: #808080;
  }
  
  .nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .nav-links i {
    transform: scale(1.6);
    color: #252525;
  }


  .container {
    padding: 0 15%;
  }
  
  /*------------------Bio-------------------------*/
  .bio {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(9em, 1fr));
    font-family: Arial, Helvetica, sans-serif;
    padding: 3em 0 2em 5em;
    border-bottom: 0.2px solid #dbdbdb;
     grid-gap: 2em;
    margin-top: 5em;
    margin-bottom: 2em;
  }
  
  #profilePhotoInput {
    display: none;
  }
  
  .profile-photo {
    background: #000;
    width: 9em;
    height: 9em;
    border-radius: 50%;
    margin-top: 0.5em;
  }
  

  .profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .profile-photo img:hover {
    opacity: 0.7;
  }
  
  .profile-info .name {
    font-size: 1.7em;
    color: #545454;
    margin-bottom: 0;
  }
  
  .profile-info .about {
    font-size: 1em;
    color: #545454;
  }
  
  .profile-info button {
    background-color: #0095f6;
    color: #fff;
    font-size: 1.1em;
    width: 6em;
    height: 2em;
  }
  
  .profile-info button:hover {
    background-color: #0081d6;
  }
  
  .edit-bio-form input {
    width: 50%;
    height: 2em;
    border: 0.1em solid #dbdbdb;
    border-radius: 0.2em;
    padding: 0.5em;
    margin-top: 0.5em;
  }
  
  .edit-bio-form button {
    margin: 1em 1em 0 0;
  }
  
  .edit-bio-form .cancel-button {
    background-color: #890000;
  }
  
  #addPhotoInput {
    display: none;
  }
  
  .add-photo-button {
    transform: scale(3);
    position: fixed;
    bottom: 5em;
    right: 7em;
    cursor: pointer;
  }
  
  /*--------Gallery---------*/
  .gallery {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(15.5em, 1fr));
    row-gap: 1.7em;
    column-gap: 1em;
   
  }
  
  .item {
    height: 15.5em;
    width: 15.5em;
    background: #000;
    cursor: pointer;
  }
  
  .item-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .item:hover .item-image {
    opacity: 0.7;
  }
  
  .delete-button {
    opacity: 0;
    position: absolute;
    margin-left: -12em;
    margin-top: 11em;
    padding: 0.1em 0.3em;
    background-color: #890000;
    color: #fff;
    border: 1px solid #c8c8c8;
    transform: scale(1.5);
  }
  
  .delete-button:hover {
    background-color: #670000;
    color: #fff;
  }
  
  .item:hover .delete-button {
    opacity: 1;
  }

  
  .header-image{
    display: none;
  }
  
  .footer{
    display: none;
  }
  
  .loader {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #055302;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
  margin-left: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }

  }
}

@media only screen and (max-width: 767px) {

 /*------ Nav------------*/
  .nav-links button:nth-child(1){
    display: none;
  }

  .nav-links button:nth-child(3){
    display: none;
  }

  .nav-links button:nth-child(4){
    display: none;
  }

  .nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }
  
  .nav-links i {
    transform: scale(1.6);
    color: #252525;
  }

  /*-------Bio-------------*/

  .bio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
    font-family: Arial, Helvetica, sans-serif;
    padding: 2.3em 0 1.5em 3.6em;
    border-bottom: 0.2px solid #dbdbdb;
    margin-top: 3.7em;
    grid-gap: 1em;
    margin-bottom: 1.4em;
  }
    
 
  #profilePhotoInput {
    display: none;
  }

  .profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
  }

  
  .profile-photo {
    width: 8em;
    height: 8em;
  }
  
  .profile-photo img:hover {
    opacity: 0.7;
  }
  
  .profile-info .name {
    font-size: 1.7em;
    color: #545454;
    margin-bottom: 0;
  }
  
  .profile-info .about {
    font-size: 1.2em;
    color: #545454;
  }
  
  .profile-info button {
    background-color: #0095f6;
    color: #fff;
    font-size: 1.1em;
    width: 6em;
    height: 2em;
  }
  
  .profile-info button:hover {
    background-color: #0081d6;
  }
  
  .edit-bio-form input {
    width: 50%;
    height: 2em;
    border: 0.1em solid #dbdbdb;
    border-radius: 0.2em;
    padding: 0.5em;
    margin-top: 0.5em;
  }
  
  .edit-bio-form button {
    margin: 1em 1em 0 0;
  }
  
  .edit-bio-form .cancel-button {
    background-color: #890000;
  }
  
  #addPhotoInput {
    display: none;
  }

  
  
  .add-photo-button {
    transform: scale(3);
    position: fixed;
    bottom: 5em;
    right: 7em;
    cursor: pointer;
  }

  .container {
    padding: 0 10%;
  }
  
  /*--------Gallery---------*/
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
    row-gap: 1.7em;
    column-gap: 1em;
  }
  
  .item {
    height: 13em;
    width: 13em;
    background: #000;
    cursor: pointer;
  }
  
  .item-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .item:hover .item-image {
    opacity: 0.7;
  }
  
  .delete-button {
    opacity: 0;
    position: absolute;
    margin-left: -12em;
    margin-top: 11em;
    padding: 0.1em 0.3em;
    background-color: #890000;
    color: #fff;
    border: 1px solid #c8c8c8;
    transform: scale(1.5);
  }
  
  .delete-button:hover {
    background-color: #670000;
    color: #fff;
  }
  
  .item:hover .delete-button {
    opacity: 1;
  }


  /*------ Page loading-------------*/

  .loader {
    margin-right: auto;
    margin-left: auto;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #055302;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite; 
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  
    }
 
/*------Footer-------------*/

  .footer{
    position: fixed;
    display: grid;
    bottom: 0;
    background-color: #fff;
    height: 3.3em;
    line-height: 3.3em;
    width: 100%;
    border-top: 0.1em solid #dbdbdb;
   
  }


    
  button {
    cursor: pointer;
    padding: unset;
    border: unset;
    background: unset;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
  }

  .f-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .f-links i {
    transform: scale(1.6);
    color: #252525;
  }


 
}







